.heading {
    color: rgb(102, 102, 102);
  }
  .card {
    position: relative;
  }
  .top {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    top: 40px;
    left: 10px;
  }
  p {
    font-size: 15px;
    margin-left: 20px;
    color: rgb(100, 100, 100);
  }
  