<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/card-storage.css">
</head>
<body>
    <div class="navbar">
        <div class="navbar-logo">Logo here</div>
        <div class="navbar-account">
            <button class="btn-log">Log In</button>
            <button class="btn-sign">Sign In</button>
        </div>
    </div>
    <div class="title">Popular Book course</div>
    <div class="main">
        <div class="card-container">
            <img src="https://ia800607.us.archive.org/view_archive.php?archive=/22/items/olcovers24/olcovers24-L.zip&file=240727-L.jpg" alt="" class="card-img">
            <div class="card-content">
                <div class="card-title">title</div>
                <div class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
                <div class="card-recommend">Recommend: 4.0/5</div>
            </div>
            <div class="card-control">
                <div class="card-note">Read my note</div>
                <button class="card-btn">amazon.com</button>
            </div>
        </div>

        <div class="card-container">
            <img src="https://ia800607.us.archive.org/view_archive.php?archive=/22/items/olcovers24/olcovers24-L.zip&file=240727-L.jpg" alt="" class="card-img">
            <div class="card-content">
                <div class="card-title">title</div>
                <div class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
                <div class="card-recommend">Recommend: 4.0/5</div>
            </div>
            <div class="card-control">
                <div class="card-note">Read my note</div>
                <button class="card-btn">amazon.com</button>
            </div>
        </div>

        <div class="card-container">
            <img src="https://ia800607.us.archive.org/view_archive.php?archive=/22/items/olcovers24/olcovers24-L.zip&file=240727-L.jpg" alt="" class="card-img">
            <div class="card-content">
                <div class="card-title">title</div>
                <div class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
                <div class="card-recommend">Recommend: 4.0/5</div>
            </div>
            <div class="card-control">
                <div class="card-note">Read my note</div>
                <button class="card-btn">amazon.com</button>
            </div>
        </div>

        <div class="card-container">
            <img src="https://ia800607.us.archive.org/view_archive.php?archive=/22/items/olcovers24/olcovers24-L.zip&file=240727-L.jpg" alt="" class="card-img">
            <div class="card-content">
                <div class="card-title">title</div>
                <div class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
                <div class="card-recommend">Recommend: 4.0/5</div>
            </div>
            <div class="card-control">
                <div class="card-note">Read my note</div>
                <button class="card-btn">amazon.com</button>
            </div>
        </div>

        <div class="card-container">
            <img src="https://ia800607.us.archive.org/view_archive.php?archive=/22/items/olcovers24/olcovers24-L.zip&file=240727-L.jpg" alt="" class="card-img">
            <div class="card-content">
                <div class="card-title">title</div>
                <div class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
                <div class="card-recommend">Recommend: 4.0/5</div>
            </div>
            <div class="card-control">
                <div class="card-note">Read my note</div>
                <button class="card-btn">amazon.com</button>
            </div>
        </div>

        <div class="card-container">
            <img src="https://ia800607.us.archive.org/view_archive.php?archive=/22/items/olcovers24/olcovers24-L.zip&file=240727-L.jpg" alt="" class="card-img">
            <div class="card-content">
                <div class="card-title">title</div>
                <div class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
                <div class="card-recommend">Recommend: 4.0/5</div>
            </div>
            <div class="card-control">
                <div class="card-note">Read my note</div>
                <button class="card-btn">amazon.com</button>
            </div>
        </div>

        <div class="card-container">
            <img src="https://ia800607.us.archive.org/view_archive.php?archive=/22/items/olcovers24/olcovers24-L.zip&file=240727-L.jpg" alt="" class="card-img">
            <div class="card-content">
                <div class="card-title">title</div>
                <div class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
                <div class="card-recommend">Recommend: 4.0/5</div>
            </div>
            <div class="card-control">
                <div class="card-note">Read my note</div>
                <button class="card-btn">amazon.com</button>
            </div>
        </div>

        <div class="card-container">
            <img src="https://ia800607.us.archive.org/view_archive.php?archive=/22/items/olcovers24/olcovers24-L.zip&file=240727-L.jpg" alt="" class="card-img">
            <div class="card-content">
                <div class="card-title">title</div>
                <div class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
                <div class="card-recommend">Recommend: 4.0/5</div>
            </div>
            <div class="card-control">
                <div class="card-note">Read my note</div>
                <button class="card-btn">amazon.com</button>
            </div>
        </div>

        <div class="card-container">
            <img src="https://ia800607.us.archive.org/view_archive.php?archive=/22/items/olcovers24/olcovers24-L.zip&file=240727-L.jpg" alt="" class="card-img">
            <div class="card-content">
                <div class="card-title">title</div>
                <div class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
                <div class="card-recommend">Recommend: 4.0/5</div>
            </div>
            <div class="card-control">
                <div class="card-note">Read my note</div>
                <button class="card-btn">amazon.com</button>
            </div>
        </div>

        <div class="card-container">
            <img src="https://ia800607.us.archive.org/view_archive.php?archive=/22/items/olcovers24/olcovers24-L.zip&file=240727-L.jpg" alt="" class="card-img">
            <div class="card-content">
                <div class="card-title">title</div>
                <div class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
                <div class="card-recommend">Recommend: 4.0/5</div>
            </div>
            <div class="card-control">
                <div class="card-note">Read my note</div>
                <button class="card-btn">amazon.com</button>
            </div>
        </div>

        <div class="card-container">
            <img src="https://ia800607.us.archive.org/view_archive.php?archive=/22/items/olcovers24/olcovers24-L.zip&file=240727-L.jpg" alt="" class="card-img">
            <div class="card-content">
                <div class="card-title">title</div>
                <div class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
                <div class="card-recommend">Recommend: 4.0/5</div>
            </div>
            <div class="card-control">
                <div class="card-note">Read my note</div>
                <button class="card-btn">amazon.com</button>
            </div>
        </div>
    </div>
</body>
</html>

