<%- include("partials/header.ejs") %>

<div class="main-control">
    <div></div>
    <div class="main-content">
        <span class="violet-text">Lorem</span> ipsum dolor sit amet <span class="violet-text">consectetur</span> adipisicing elit. 
    </div>

    <form action="/submit" method="post" class="form-submit-book">
        <input type="text" name="value" class="main-inp-value" placeholder="Type id here: ">
        <select name="key" id="id-book">
            <option value="id">ID</option>
            <option value="isbn">ISBN</option>
            <option value="oclc">OCLC</option>
            <option value="lccn">LCCN</option>
            <option value="olid">OLID</option>
        </select>
        <button type="submit" class="main-btn-submit">Add Book</button>
    </form>
    <div></div>
    <div class="main-line-below">
        <p>
            ghé thăm trang web bán sách độc quyền và duy nhất chỉ có tại 
            <span class="store-book">amazon.com</span>
        </p>
    </div>
</div>


<%- include('partials/footer.ejs') %>

