<%- include("partials/header.ejs") %>
<div class="container">
    <hr>
    <div class="about-main">
        <div class="title-main">BookShop</div>
            <div class="content-main">

                <div class="contents">
                    <!-- <img src="" alt=""> -->
                     <img src="https://mastermedia.vn/wp-content/uploads/2023/07/thiet-ke-bia-sach-1.jpg" alt="">
                    <div class="content-body">
                        <div class="content-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem nesciunt dolore ullam suscipit qui?
                        </div>
                        <div class="contain-btn-price">
                            <button class="btn-views">Views now!</button>
                            <div class="content-price">12.99$</div>
                        </div>
                    </div>
                </div>

                <div class="contents">
                    <!-- <img src="" alt=""> -->
                     <img src="https://designs.vn/wp-content/images/30-05-2013/top%206_1.jpg" alt="">
                    <div class="content-body">
                        <div class="content-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem nesciunt dolore ullam suscipit qui?
                        </div>
                        <div class="contain-btn-price">
                            <button class="btn-views">Views now!</button>
                            <div class="content-price">12.99$</div>
                        </div>
                    </div>
                </div>

                <div class="contents">
                    <!-- <img src="" alt=""> -->
                     <img src="https://data.designervn.net/2019/03/7902_a72505c81ba7d67ea23145119da7f4b6.jpg" alt="">
                    <div class="content-body">
                        <div class="content-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem nesciunt dolore ullam suscipit qui?
                        </div>
                        <div class="contain-btn-price">
                            <button class="btn-views">Views now!</button>
                            <div class="content-price">12.99$</div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <br><br><br><br><br><br>
    <hr>
    <div class="about-main">
        <div class="title-main2">MovieShop</div>
            <div class="content-main">

                <div class="contents">
                    <!-- <img src="" alt=""> -->
                     <img src="http://www.slashfilm.com/wp/wp-content/images/2015bestposter-martian.jpg" alt="">
                    <div class="content-body">
                        <div class="content-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem nesciunt dolore ullam suscipit qui?
                        </div>
                        <div class="contain-btn-price">
                            
                            <div class="content-price2">12.99$</div>
                            <button class="btn-views2">Views now!</button>
                        </div>
                    </div>
                </div>

                <div class="contents">
                    <!-- <img src="" alt=""> -->
                     <img src="http://www.slashfilm.com/wp/wp-content/images/bestposters2016-loandbehold.jpg" alt="">
                    <div class="content-body">
                        <div class="content-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem nesciunt dolore ullam suscipit qui?
                        </div>
                        <div class="contain-btn-price">
                            
                            <div class="content-price2">12.99$</div>
                            <button class="btn-views2">Views now!</button>
                        </div>
                    </div>
                </div>

                <div class="contents">
                    <!-- <img src="" alt=""> -->
                     <img src="http://graphicdesignjunction.com/wp-content/uploads/2012/05/large/movie-poster-10.jpg" alt="">
                    <div class="content-body">
                        <div class="content-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem nesciunt dolore ullam suscipit qui?
                        </div>
                        <div class="contain-btn-price">
                            
                            <div class="content-price2">12.99$</div>
                            <button class="btn-views2">Views now!</button>
                        </div>
                    </div>
                </div>

            </div>
    </div>

</div>
    
<%- include("partials/footer.ejs") %>