<%- include("partials/header.ejs") %>
<div class="container">
    <hr>
    <div class="about-main">
        <div class="title-main">BookShop</div>
            <div class="content-main">

                <div class="contents">
                    <!-- <img src="" alt=""> -->
                     <img src="https://mastermedia.vn/wp-content/uploads/2023/07/thiet-ke-bia-sach-1.jpg" alt="" class="img1">
                    <div class="content-body">
                        <div class="content-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem nesciunt dolore ullam suscipit qui?
                        </div>
                        <div class="contain-btn-price">
                            <a href="abouts/siddhartha.html"><button class="btn-views">Views now!</button></a>
                            <div class="content-price">12.99$</div>
                        </div>
                    </div>
                </div>

                <div class="contents">
                    <!-- <img src="" alt=""> -->
                     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/AnnaKareninaTitle.jpg/800px-AnnaKareninaTitle.jpg" alt="" class="img2" >
                    <div class="content-body">
                        <div class="content-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem nesciunt dolore ullam suscipit qui?
                        </div>
                        <div class="contain-btn-price">
                            <a href="abouts/anna.html"><button class="btn-views">Views now!</button></a>
                            <div class="content-price">12.99$</div>
                        </div>
                    </div>
                </div>

                <div class="contents">
                    <!-- <img src="" alt=""> -->
                     <img src="https://upload.wikimedia.org/wikipedia/vi/2/20/Eclipsecover.jpg" alt=""  class="img3">
                    <div class="content-body">
                        <div class="content-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem nesciunt dolore ullam suscipit qui?
                        </div>
                        <div class="contain-btn-price">
                            <a href="abouts/nhatthuc.html"><button class="btn-views">Views now!</button></a>
                            <div class="content-price">12.99$</div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


</div>
    
<%- include("partials/footer.ejs") %>