<%- include("partials/header.ejs") %>
<div class="home-main">
    <div class="title">Hello <%= locals.name %>!</div>
    <div class="content-home">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis perferendis adipisci a. Maiores, ullam quas dolor repudiandae quidem sit, earum quaerat odio, odit iusto veritatis? Voluptate ex rerum consequuntur. Odit.
    </div>
    <div class="home-button">Learn more</div>
</div>
<%- include("partials/footer.ejs") %>